.room-list {
    background-image: url("../assets/mori-haus-bg.jpg");
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
  }
  
  .rooms {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }
  
  .room-card {
    border: 1px solid #ddd;
    padding: 20px;
    margin: 10px;
    border-radius: 10px;
    text-align: center;
  }
  
  .room-photo {
    width: 100%;
    height: auto;
    border-radius: 8px;
  }
  
  .book-btn {
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .book-btn:hover {
    background-color: #0056b3;
  }
  
  