.room-details {
  padding: 20px;
  text-align: center;
}

.room-photo {
  width: 100%;
  max-width: 600px;
  height: auto;
  border-radius: 10px;
}

.hotel-photo {
  width: 80%;
  max-width: 600px;
  margin-top: 20px;
  border-radius: 10px;
}


.room-details h2 {
  margin-bottom: 20px;
}

.room-details p {
  margin-bottom: 10px;
  font-size: 16px;
  color: #333;
}